html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #ffffff;
  color: #212121;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.link {
  color: #212121;
}
.link:hover {
  color: #2196f3;
}

a {
  text-decoration-line: none;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* /* Хедер */
header {
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.logotip {
  width: 153px;
  font-size: 26px;
  display: inline-block;
  font-family: 'Raleway';
  font-weight: bold;
}
.portfolio {
  display: flex;
  font-family: 'Roboto';
}
.portfolio .item {
  margin-right: 50px;
}
.portfolio .item:last-child {
  margin-right: 0px;
}
.portfolio .link {
  display: block;

  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}
.header-color-link {
  display: flex;
  margin-left: auto;

  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.header-color-link .link + .link {
  margin-left: 50px;
}

.nav-header {
  display: flex;
  align-items: center;
}
.father-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.father-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-color-link a {
  color: #757575;
}
.header-color-link a:hover {
  color: #2196f3;
}

.bluelogo {
  color: #2196f3;
}
.blacklogo {
  color: black;
}
/* Хедер */
header {
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.logotip {
  width: 153px;
  font-size: 26px;
  display: inline-block;
  font-family: 'Raleway';
  font-weight: bold;
}
.portfolio {
  display: flex;
  font-family: 'Roboto';
}
.portfolio .item {
  margin-right: 50px;
}
.portfolio .item:last-child {
  margin-right: 0px;
}
.portfolio .link {
  display: block;

  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}
.header-color-link {
  display: flex;
  margin-left: auto;

  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.header-color-link .link + .link {
  margin-left: 50px;
}

.nav-header {
  display: flex;
  align-items: center;
}
.father-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.father-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-color-link a {
  color: #757575;
}
.header-color-link a:hover {
  color: #2196f3;
}

.bluelogo {
  color: #2196f3;
}
.blacklogo {
  color: black;
}
/* Хедер конец */

/* Герой кнопки  */

.heroi {
  padding-top: 93px;
  padding-bottom: 94px;
}
.section-nav .button-nav {
  background: #f5f4fa;
}
.section-nav button:hover {
  text-decoration-line: none;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
.section-nav {
  display: flex;
  justify-content: center;
  text-align: center;

  padding-left: 0px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.button-nav {
  margin-right: 8px;
  background: #f5f4fa;
}

.button-text {
  padding: 6px 22px;

  border: none;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #212121;
}
.section-nav .button-nav:last-child {
  margin-right: 0px;
}
/* Герой кнопки конец */

/* Герой картинки */
.heroi-picture {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

.flex-img {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.brd {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eeeeee;

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.flex-img .link {
  display: block;
}
.title-section {
  margin-bottom: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}
.paragraf {
  margin-top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
.flex-img:nth-child(3n) {
  margin-right: 0px;
}
/* Герой картинки конец */

/* Футер */
footer {
  background: #2f303a;
}
.flex-sitelogo-join-mailing {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.site-logo {
  display: inline-block;
  font-size: 26px;
  font-family: 'Raleway';
  width: 153px;
  padding-bottom: 20px;
  font-weight: bold;
}
.kiev {
  color: #ffffff;
}
.logo-kiev {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 69px;
}
.whitelogo {
  color: #ffffff;
}
.join {
  padding-right: 155px;
  padding-top: 60px;
  padding-bottom: 20px;
}
.flex-join {
  display: flex;
}
.footer-mail {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}
.footer-tel {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}
.join h2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  width: 145px;
  font-family: 'Roboto';
  font-style: normal;
}
.mailing h2 {
  font-size: 14px;
  color: #ffffff;
  width: 219px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
}
.sign-up {
  padding-left: 29px;
  padding-right: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #ffffff;
}
.mailing input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2f303a;
}
.mailing button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Футер конец */

button {
  color: #ffffff;
}
