html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #ffffff;
  color: #212121;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.link {
  color: #212121;
}
.link:hover {
  color: #2196f3;
}

a {
  text-decoration-line: none;
}
ul {
  list-style: none;
}

/* Хедер */
header {
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logotip {
  width: 153px;
  font-size: 26px;
  display: inline-block;
  font-family: 'Raleway';
}
.portfolio {
  display: flex;
  font-family: 'Roboto';
}
.portfolio .item {
  margin-right: 50px;
}
.portfolio .item:last-child {
  margin-right: 305px;
}
.portfolio .link {
  display: block;

  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}
.header-color-link {
  display: flex;
}
.header-color-link .link-t {
  display: block;
  margin-left: 50px;
}
.nav-header {
  display: flex;
  align-items: center;
}
.father-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.father-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-color-link a {
  color: #757575;
}
.header-color-link a:hover {
  color: #2196f3;
}

.bluelogo {
  color: #2196f3;
}
.blacklogo {
  color: black;
}
/* Хедер конец */

/* list-style: none; убирает точки в списку */

.site-nav a {
  color: #212121;
  text-decoration-line: none;
}
.site-nav .link:hover,
.site-nav.link:focus {
  color: #2196f3;
}
.site-logo .blacklogo:hover {
  color: #2196f3;
}

.section-nav .button:hover {
  text-decoration-line: none;
  color: #2196f3;
}

h2 {
  color: #212121;
}
footer {
  background: #2f303a;
}
p {
  color: #757575;
}
.address {
  color: #ffffff;
}
.footer-mail {
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}
h3 {
  color: #ffffff;
}
button {
  background: #2196f3;
  color: #ffffff;
}
