html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  color: #212121;
}
.container {
  width: 1200px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  color: #212121;
}
.link:hover {
  color: #2196f3;
}

a {
  text-decoration-line: none;
}
ul {
  list-style: none;
}

/* Хедер */
header {
  background: #ffffff;
}
.logotip {
  width: 153px;
  font-size: 26px;
  display: inline-block;
}
.studio {
  display: flex;
  margin-left: 85px;
}
.studio .item {
  margin-right: 50px;
}
.studio .item:last-child {
  margin-right: 305px;
}
.studio .link {
  display: block;

  font-family: Cambria, serif;

  font-size: 14px;
  font-weight: 500;
}
.header-color-link {
  display: flex;
}

.header-color-link {
  margin-left: 331px;
}
.header-color-link .link-t {
  display: block;
  margin-left: 50px;
}
.nav-header {
  display: flex;
}
.nav-header {
  align-items: center;
}
.father-header {
  display: flex;
  align-items: center;

  margin-left: 0px;
  margin-right: 0px;
  padding-left: 215px;
  padding-right: 215px;
}
.header-color-link a {
  color: #757575;
}
.header-color-link a:hover {
  color: #2196f3;
}

.bluelogo {
  color: #2196f3;
}
.blacklogo {
  color: black;
}
/* Хедер конец */
.heroi-color {
  margin-bottom: 94px;
  background: rgba(47, 48, 58, 0.8);
}
.button-style {
  background: #2196f3;
  color: #ffffff;

  font-size: 16px;

  margin-bottom: 200px;
}

/* Преимущества */
.section-advantages {
  padding-left: 15px;
  padding-left: 15px;

  margin-left: 0px;
  margin-right: 0px;
}
.section-advantages .our-work {
  background-color: #ffffff;
}
.vector {
  display: inline-block;
  background-color: #f5f4fa;
  padding-left: 102px;
  padding-right: 102px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}
.clock {
  display: inline-block;
  background-color: #f5f4fa;
  padding-left: 101px;
  padding-right: 101px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.planning {
  width: 270px;
  height: 120px;
  display: inline-block;
  background-color: #f5f4fa;
  padding-left: 100px;
  padding-right: 115px;
  padding-top: 30px;
  padding-bottom: 29px;
  margin-bottom: 30px;
}
.modern-technologies {
  display: inline-block;
  background-color: #f5f4fa;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 33px;
  padding-bottom: 33px;
  margin-bottom: 30px;
}
.section-advantage h2 {
  color: #212121;
  width: 270px;

  margin-bottom: 10px;

  font-size: 14px;
}

.section-advantages p {
  color: #332323;
  width: 270px;

  font-size: 14px;
}

/* Преимущества flex */
.container-advantage {
  display: flex;
}
.container-advantage {
  margin-right: 30px;
  width: 270px;
}
.container-advantage:nth-child(4n) {
  margin-right: 0px;
}

/* Преимущества конец */

/* Примеры работ */
.title-our-work {
  color: #212121;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
}

.desktop {
  padding-left: 83px;
  padding-right: 82px;

  margin-top: auto;
  margin-bottom: auto;
}
.mobile {
  padding-left: 86px;
  padding-right: 85px;
  margin-top: auto;
  margin-bottom: auto;
}
.designer {
  padding-left: 91px;
  padding-right: 90px;
  margin-top: auto;
  margin-bottom: auto;
}
.our-work p {
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  width: 370px;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
}
.our-work {
  margin-bottom: 94px;

  margin-left: 215px;
}

.flex-work-examples {
  display: flex;
}
.flex-work-examples {
  padding: 0px;
  margin: 0px;
}
.flex-work-examples li {
  margin-right: 30px;
}
.flex-work-examples img {
  display: block;
}
/* Примеры работ конец */

/* Наша команда */
.our-team {
  background: #f5f4fa;
  margin-bottom: 94px;
  margin-left: 215px;
}

.title-our-team {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 36px;
  font-weight: bold;

  padding-top: 94px;
  padding-bottom: 50px;

  text-align: center;

  color: #212121;
}
.our-team h3 {
  font-size: 16px;

  font-family: 'Montserrat';
  font-style: normal;

  margin-top: 30px;
  margin-bottom: 10px;

  text-align: center;
  color: #212121;
}
.our-team p {
  font-size: 16px;

  font-family: Roboto;
  font-style: normal;
  text-align: center;

  margin-bottom: 30px;

  color: #757575;
}
.container-team {
  display: flex;
}
.container-team li {
  margin-right: 30px;
  width: 270px;
}
.container-team {
  padding: 0px;
  margin: 0px;
}
.container-team-li {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
}

/* Наша команда конец */

/* Постояннные клиенты */
.client {
  width: 390px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;

  margin-left: 606px;

  text-align: center;
}

/* Постоянные клиенты конец */

/* Футер */
footer {
  background: #2f303a;
}
.sign-up {
  padding-left: 29px;
  padding-right: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #ffffff;
}
.site-logo {
  display: inline-block;
  margin-left: 214px;
  margin-top: 60px;
  margin-bottom: 20px;
}
.kiev {
  color: #ffffff;
  margin-left: 214px;
  margin-bottom: 9px;
}

.footer-mail {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}
.footer-tel {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}

.mailing h2 {
  font-size: 14px;
  color: #ffffff;
  width: 219px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
}

.join h2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  width: 145px;
  font-family: 'Montserrat';
  font-style: normal;
}
.flex-sitelogo-join-mailing {
  display: flex;
}
/* Футер конец */
/* Футер кнопки */
.mailing input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2f303a;
}
.mailing button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Футер кнопки конец */
/* Блочный стиль/Flex */

button {
  background: #2196f3;
  color: #ffffff;
  font-size: 16px;
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* Герой */
.button-style {
  padding: 10px 32px;

  margin-left: 700px;
  margin-right: 700px;
  margin-bottom: 200px;
}
.heroi {
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  color: #ffffff;
  text-align: center;
  margin-left: 452px;
  margin-right: 452px;
  margin-top: 200px;
  margin-bottom: 30px;
  line-height: 60px;
}
.heroi-color {
  background: rgba(47, 48, 58, 0.8);
}
/* Преимущества */
.section-advantages {
  margin-top: 0px;
  margin-bottom: 94px;
  margin-left: 215px;
}
